* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #ff7f50;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: whitesmoke;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #deb887;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

footer {
  padding: 20px 35px;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #ff7f50;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h1 {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #deb887;
}

footer nav {
  margin: 7px 0;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.hero {
  background-image: url(../images/portfolio\ hero\ image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 3.5%;
}
.britt-bio {
  width: 30%;
  text-align: left;
  margin: 3.5%;
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.work-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work {
  height: 300px;
  width: 45%;
  margin-bottom: 20px;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.linkBox {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: whitesmoke;
}

.work.big {
  width: 95%;
}

@media (max-width: 700px) {
  .work {
    width: 95%;
  }
}
